<main>
    {{>header}}
    <section>
        <div>
            <h2>Find your BookBuddy</h2>
            <p>Vind via bookbuddy jouw buddy om samen boeken te kunnen lezen, bespreken en raad elkaar boeken aan die je al hebt gelezen.</p>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        </div>
    </section>
</main>

<div class="random">
    <h3>Posted by {{post.author}}</h3>
    <p>Ine is {{post.age}} years old.</p>
    {{!-- Condition  --}}
    {{#if post.comments}}
    <ul>
        <li>This needs to be a comment.</li>
    </ul>
    {{else}}
    <ul>
        <li>Be the first to comment on this post.</li>
    </ul>
    {{/if}}
</div>