<main id="signup">
    {{>header}}
    <section>
        <form>
            <fieldset>
                <legend>Signup</legend>
                <label for="name">Naam</label>
                <input type="text" name="name" id="name" required>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password" required>
                <label for="confirm_password">Herhaal wachtwoord</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
                <input type="submit" value="Volgende">
            </fieldset>
            <fieldset>
                <legend>Kies je favoriete genres:</legend>
                <p>
                    <label for="action">Action</label>
                    <input type="checkbox" name="action" id="action"/>
                </p>
                <p>
                    <label for="adventure">Adventure</label> 
                    <input type="checkbox" name="adventure" id="adventure"/>
                </p>
                <p> 
                    <label for="classics">Classics</label>
                    <input type="checkbox" name="classics" id="classics"/>
                </p>
                <p>
                    <label for="comic">Comic</label>
                    <input type="checkbox" name="comic" id="comic"/>
                </p>
                <p>
                    <label for="detectivemystery">Detective/Mystery</label> 
                    <input type="checkbox" name="detectivemystery" id="detectivemystery"/>
                </p>
                <p>
                    <label for="fantasy">Fantasy</label>
                    <input type="checkbox" name="fantasy" id="fantasy"/>
                </p>
                <p>
                    <label for="historicalfiction">Historical Fiction</label>
                    <input type="checkbox" name="historicalfiction" id="historicalfiction"/>
                </p>
                <p>
                    <label for="horror">Horror</label> 
                    <input type="checkbox" name="horror" id="horror"/>
                </p>
                <p>
                    <label for="literaryfiction">Literary fiction</label>
                    <input type="checkbox" name="literaryfiction" id="literaryfiction"/>
                </p>
                <p>
                    <label for="romance">Romance</label>
                    <input type="checkbox" name="romance" id="romance"/>
                </p>
                <p>
                    <label for="sci-fi">Sci-Fi</label> 
                    <input type="checkbox" name="sci-fi" id="sci-fi"/>
                </p>
                <p>
                    <label for="shortstories">Short Stories</label>
                    <input type="checkbox" name="shortstories" id="shortstories"/>
                </p>
                <p>
                    <label for="thrillers">Thrillers</label> 
                    <input type="checkbox" name="thrillers" id="thrillers"/>
                </p>
                <p>
                    <label for="biographiesautobiographies">Biographies/ Autobiographies</label>
                    <input type="checkbox" name="biographiesautobiographies" id="biographiesautobiographies"/>
                </p>
                <input type="submit" value="Volgende">
            </fieldset>
            <fieldset>
                <legend>Voeg 3 favoriete boeken toe:</legend>
                <label for="search">Voeg 3 favoriete boeken toe:</label>
                <input type="text" placeholder="Zoek titels..." name="search">
                <button type="submit">Zoek</button>
                <input type="submit" value="Signup">
            </fieldset>
        </form>
    </section>
</main>